@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    --primary-color: #17375D;
    --primary-color-light: #185095;
    --accent-color: #EB7511;
    --accent-color-dark: #d16200;
    --black: #111;
    --white: #fff;
} */

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

.container{
    max-width: 1200px;
    margin-inline: auto;
}

ul{
    position: relative;
}

.dropdown{
    display: none;
    position: absolute;
    top: 60px;
    background-color: #448aff;
    color: #fff;
    min-width: 150px;
    z-index: 10;
    border-radius: 0.375rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.dropdown::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50px;
    width: 10px;
    height: 10px;
    background-color: #448aff;
    rotate: 45deg;
    z-index: -1;
}

.dropdown.show{
    display: block;
}