@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    --primary-color: #17375D;
    --primary-color-light: #185095;
    --accent-color: #EB7511;
    --accent-color-dark: #d16200;
    --black: #111;
    --white: #fff;
} */

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

.container{
    max-width: 1200px;
    margin-inline: auto;
    padding: 10px;
}
